@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap");
section {
  margin: 0;
}

body {
  margin: 0 auto;
  width: 1440px;
}

.Nav {
  background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
  width: 1440px;
  height: 800px;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 125px;
  margin-right: 159px;
}
.menu__logo {
  margin-top: 29px;
}
.menu__nav {
  margin-top: 40px;
}
.menu__nav_text {
  text-decoration: none;
  color: #FFFFFF;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  margin-left: 30px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__text {
  margin-left: 110px;
}
.main__text_H1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 80px;
  color: #FFFFFF;
  margin: 0;
}
.main__text_H6 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  color: #FFFFFF;
  margin: 0;
}
.main__text_button {
  background: #FC0A7E;
  border: none;
  color: #FFFFFF;
  width: 170px;
  height: 66px;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 25px;
  cursor: pointer;
}
.main__text_button:hover {
  background: none;
  border: 2px solid #FC0A7E;
}

.sec-1 {
  background: #1B1B1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sec-1__text {
  margin-top: 100px;
  width: 700px;
}
.sec-1__text_H6 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
  margin: 0;
}
.sec-1__text_H1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 25px;
}

.sec-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 80px;
}
.sec-2__div-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1008px;
  margin-bottom: 160px;
}
.sec-2__div-1_H6 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  color: #A8A8A8;
  margin: 0;
  margin-bottom: 30px;
}
.sec-2__div-1_H1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  color: #000000;
  margin: 0;
  margin-bottom: 22px;
}
.sec-2__div-1_H3 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6B6B6B;
  margin: 0;
}

.sec-2_div-div {
  width: 450px;
}

.sec-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.sec-3__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 62px;
}
.sec-3__div_1__H1 {
  text-align: center;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.sec-3__div_1__H6 {
  text-align: center;
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #6B6B6B;
  width: 371px;
}

.sec-4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 160px;
}
.sec-4__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.sec-4__div__text_H1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 59px;
  line-height: 90px;
  text-align: center;
  color: #333333;
  margin: 0;
}
.sec-4__div__text_H6 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  margin: 0;
}

b {
  text-decoration: underline;
}

.sec-5 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 160px;
}
.sec-5__1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.sec-5__1__div__text1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}
.sec-5__1__div__text2 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #000000;
  width: 258px;
}
.sec-5__1__div__text3 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
  width: 330px;
  margin-right: 82px;
}
.sec-5__2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 160px;
}
.sec-5__2__div {
  margin-left: 77px;
}
.sec-5__2__div__text1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #A8A8A8;
}
.sec-5__2__div__text2 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  color: #000000;
  width: 258px;
}
.sec-5__2__div__text3 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #6B6B6B;
  width: 330px;
  margin-left: px;
}

.sec-6 {
  margin-top: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sec-6__quotation_marks {
  height: 48px;
  width: 58px;
}
.sec-6__text_1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #6B6B6B;
  width: 700px;
}
.sec-6__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sec-6__div__text1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6B6B6B;
}
.sec-6__div__text2 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6B6B6B;
}
.sec-6__div__rec {
  margin-left: 20px;
  margin-right: 20px;
}

.sec-7 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 100px;
}

.sec-8__phone {
  margin: 0;
}

.sec-9__gradient {
  margin: 0;
}
.sec-9__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -400px;
}
.sec-9__div__text {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
}
.sec-9__div__div__button1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
  width: 190px;
  height: 66px;
  border: 2px solid #FC0A7E;
  border-radius: 3px;
  background: none;
  margin-right: 11px;
  margin-left: 11px;
  background-color: #FC0A7E;
  margin-right: 10px;
}
.sec-9__div__div__button1:hover {
  width: 190px;
  height: 66px;
  border: 2px solid #FC0A7E;
  border-radius: 3px;
  background: none;
  margin-right: 11px;
  margin-left: 11px;
  cursor: pointer;
}
.sec-9__div__div__button2 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  width: 190px;
  height: 66px;
  border: 2px solid #FC0A7E;
  border-radius: 3px;
  background: none;
  background-color: #FC0A7E;
  margin-left: 0;
}
.sec-9__div__div__button2:hover {
  width: 190px;
  height: 66px;
  border: 2px solid #FC0A7E;
  border-radius: 3px;
  background: none;
  cursor: pointer;
}

.sasaas {
  padding-top: 400px;
  padding-bottom: 200px;
}

.sec-10 {
  background: #1B1B1B;
  margin-top: 0px;
}
.sec-10__text1 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 48px;
  text-align: center;
  color: #FFFFFF;
  margin-top: 15px;
  margin-bottom: 0;
}
.sec-10__text2 {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  color: #6B6B6B;
  margin-top: 20px;
}
.sec-10__div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 40px;
}
.sec-10__div__input {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  margin-right: 0;
  padding-left: 20px;
  padding-top: 22px;
  padding-bottom: 22px;
  border: 0;
  border-radius: 3px 0px 0px 3px;
  width: 465px;
}
.sec-10__div__button {
  font-family: "Gothic A1";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  margin-left: 0;
  border-radius: 0px 3px 3px 0px;
  width: 154px;
  height: 70px;
  border: 2px solid #FC0A7E;
  background: none;
  margin-right: 11px;
  margin-left: 11px;
  background-color: #FC0A7E;
  margin-left: 0;
  cursor: pointer;
}
