@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

section{
    margin: 0;
}

body{
    margin: 0 auto;
    max-width: 1440px;
}

.Nav{
    background: linear-gradient(287.15deg, #450E4B 0%, #3C0C41 24.48%, rgba(207, 0, 99, 0) 100%), #CF0063;
    width: 1440px;
    height: 800px;
}

.menu {
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    margin-left: 125px;
    margin-right: 159px;
    // .menu__nav

	&__logo {
        margin-top: 29px
	}



    &__nav {
        margin-top: 40px;
        // .menu__nav_text

        &_text {
            text-decoration:none;
            color: #FFFFFF;
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            text-align: center;
            margin-left: 30px;
        }
    }
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // .main__text

    &__text {
        margin-left: 110px;

        // .main__text_H1
        &_H1{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 80px;
            color: #FFFFFF;
            margin: 0;
        }
    
        // .main__text_H6
        &_H6{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 30px;
            color: #FFFFFF;  
            margin: 0;
        }

        // .main__text_button
        &_button {
            background: #FC0A7E;
            border: none;
            color: #FFFFFF;
            width: 170px;
            height: 66px;
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 25px;
            cursor: pointer;

            &:hover{
                background: none;
                border: 2px solid #FC0A7E;
            }
        }
    }
}

.sec-1 {
    background: #1B1B1B;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // .sec-1__text

    &__text {
        margin-top: 100px;
        width: 700px;
        // .sec-1__text_H1

        &_H6 {
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            text-align: center;
            letter-spacing: 2px;
            text-transform: uppercase;
            color: #A8A8A8;
            margin: 0;
        }

        // .sec-1__text_H6

        &_H1 {
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 38px;
            text-align: center;
            color: #FFFFFF;
            margin-top: 25px;
        }
    }
}

.sec-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 80px;

    // .sec-2__div-1

    &__div-1 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 1008px;
        margin-bottom: 160px;

        // .sec-2__div-1_H6

        &_H6 {
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            color: #A8A8A8;
            margin: 0;
            margin-bottom: 30px;
        }

        // .sec-2__div-1_H1

        &_H1 {
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 38px;
            color: #000000;
            margin: 0;
            margin-bottom: 22px;
        }

        // .sec-2__div-1_H3
        
        &_H3{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: #6B6B6B;
            margin: 0;
        }
    }
}

.sec-2_div-div{
    width: 450px;
}

.sec-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
	// .sec-3__div

	&__div {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-right: 62px;
        
		// .sec-3__div_1

		&_1 {

            &__H1{
                text-align: center;
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                color: #000000;
                }

            &__H6{
                text-align: center;
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                color: #6B6B6B;
                width: 371px;
            }
		}
	}
}

.sec-4{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-around;
    margin-top: 160px;

    &__div{
        display: flex;
        flex-direction: column;

        &__text_H1{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 59px;
            line-height: 90px;
            text-align: center;
            color: #333333;
            margin: 0;
        }

        &__text_H6{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: #000000;
            margin: 0;
        }
    }
}

b{
    text-decoration: underline;
}

.sec-5 {

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 160px;

    &__1 {
        display: flex;
        flex-direction: row;

        &__div{

            &__text1{
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #A8A8A8;
            }

            &__text2{
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 38px;
                line-height: 48px;
                color: #000000;
                width: 258px;
            }

            &__text3{
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #6B6B6B;
                width: 330px;
                margin-right: 82px;
            }
        }

    }

    &__2 {
        display: flex;
        flex-direction: row;
        margin-top: 160px;

        &__div{
            margin-left: 77px;

            &__text1{
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 12px;
                line-height: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #A8A8A8;
            }

            &__text2{
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 38px;
                line-height: 48px;
                color: #000000;
                width: 258px;
            }

            &__text3{
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 30px;
                color: #6B6B6B;
                width: 330px;
                margin-left: px;
            }
        }

    }
}

.sec-6{
    
    margin-top: 160px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__quotation_marks{
        height: 48px;
        width: 58px;
    }

    &__text_1{
        font-family: 'Gothic A1';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        color: #6B6B6B;
        width: 700px;
    }

    &__div{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        &__text1{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: #6B6B6B;            
        }
        
        &__text2{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
            text-align: center;
            color: #6B6B6B;
        }

        &__rec{
            margin-left: 20px;
            margin-right: 20px;
        }
    }
}

.sec-7{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.sec-8{

    &__phone{
        margin: 0;
    }
}

.sec-9{

    &__gradient{
        margin: 0;
    }

    &__div{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: -400px;

        &__text{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 38px;
            line-height: 48px;
            text-align: center;
            color: #FFFFFF;
        }

        &__div{

            &__button1{
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;
                text-align: center;

                width: 190px;
                height: 66px;
                border: 2px solid #FC0A7E;
                border-radius: 3px;
                background: none;
                margin-right: 11px;
                margin-left: 11px;
                background-color: #FC0A7E;
                margin-right: 10px;

                &:hover{
                    width: 190px;
                    height: 66px;
                    border: 2px solid #FC0A7E;
                    border-radius: 3px;
                    background: none;
                    margin-right: 11px;
                    margin-left: 11px;
                    cursor: pointer;
                }
            }
    
    
            &__button2{
                font-family: 'Gothic A1';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 26px;
                color: #FFFFFF;

                width: 190px;
                height: 66px;
                border: 2px solid #FC0A7E;
                border-radius: 3px;
                background: none;
                background-color: #FC0A7E;
                margin-left: 0;

                &:hover{
                    width: 190px;
                    height: 66px;
                    border: 2px solid #FC0A7E;
                    border-radius: 3px;
                    background: none;
                    cursor: pointer;
                }
            }
        }
    }
}

.sasaas{
    padding-top: 400px;
    padding-bottom: 200px;
}

.sec-10{
    background: #1B1B1B;
    margin-top: 0px;

    &__text1{
        font-family: 'Gothic A1';
        font-style: normal;
        font-weight: 400;
        font-size: 38px;
        line-height: 48px;
        text-align: center;
        color: #FFFFFF;
        margin-top: 15px;
        margin-bottom: 0;
    }

    &__text2{
        font-family: 'Gothic A1';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        text-align: center;
        color: #6B6B6B;   
        margin-top: 20px;
    }

    &__div{

        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        margin-top: 40px;

        &__input{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            margin-right: 0;
            padding-left: 20px;
            padding-top: 22px;
            padding-bottom: 22px;

            border: 0;
            border-radius: 3px 0px 0px 3px;
            width: 465px;
        }

        &__button{
            font-family: 'Gothic A1';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            margin-left: 0;
            border-radius: 0px 3px 3px 0px;

            width: 154px;
            height: 70px;
            border: 2px solid #FC0A7E;
            background: none;
            margin-right: 11px;
            margin-left: 11px;
            background-color: #FC0A7E;
            margin-left: 0;
            cursor: pointer;
        }
    }
}

@media (max-width: 1024px) {
    
    body{
        max-width: 1024px;
    }
    
    .Nav{
        width: 1024px;

    }

    .menu{

    }

    .main__phone{
        width: 500px;
        margin-top: 50px;
    }

    .sec-1__pc{
        width: 1024px;
    }

    .sec-2{

        &__div-1{
            flex-direction: row;
        }

        &_div-div{
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    .sec-3{
        flex-direction: column;

        &__div{
            margin-bottom: 50px;

            &_img{
                margin-bottom: 10px;
                margin-top: 10px;
            }
        }
    }

    .sec-4{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 50px;
        margin-top: 100px;

        &__div{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }

    .sec-5{
        margin-top: 75px;
    }

    .sec-7__img{
        width: 1024px;
    }

    .sec-8__phone{
        width: 1024px;
    }
    
    .sec-9{


        &__gradient{
            width: 1024px;
        }
        
        &__div{
            margin-top: -300px;
        }
    }
}

@media (max-width: 768px) {

    body{
        max-width: 768px;
    }
    
    .Nav{
        width: 768px;
        height: 600px;
    }

    .menu{
        justify-content: center;
        margin: 0;
    }

    .main{

        &__text{
            width: 300px;
            margin-left: 0;
        }

        &__phone{
            width: 400px;
            margin-top: 50px;

        }
    }

    .sec-1__pc{
        width: 768px;
    }

    .sec-2{

        &__img{
            margin-top: 50px;
            margin-bottom: 50px;
        }

        &__div-1{
            flex-direction: column;
            width: 768px;
        }

        &_div-div{
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    .reversd{
        display: flex;
        flex-direction: column-reverse;
    }

    .sec-5{

        &__1{
            flex-direction: column;

            &__div{
                margin-bottom: 50px;
            }
        }

        &__2{
            flex-direction: column-reverse;

            &__div{
                margin-left: 0;
                margin-bottom: 50px;
            }
        }
    }

    .sec-7{

        &__img{
            width: 768px;
        }
    }

    .sec-8{

        &__phone{
            width: 768px;
        }
    }

    .sec-9{


        &__gradient{
            width: 768px;
        }
        
        &__div{
            margin-top: -260px;
        }
    }

    .sec-10{
        height: 500px;
    }

    .sasaas{
        padding-top: 170px;
        padding-bottom: 100px;
    }
}

@media (max-width: 425px) {
    
    body{
        max-width: 425px;
    }
    
    .Nav{
        width: 425px;
        height: 1000px;
    }

    .menu{
        justify-content: center;
        margin: 0;
        flex-direction: column;

        &__logo{
            width: 212px;
            margin-left: 107px;
        }

        &__nav{
            display: flex;
            flex-direction: column;

            &_text{
                margin-top: 25px;
            }
        }
    }

    .main{
        flex-direction: column;
        margin-top: 50px;

        &__text{
            width: 300px;
            margin-left: 0;
            margin-left: -95px;
        }

        &__phone{
            width: 250px;
            margin-top: 25px;

        }
    }

    .sec-1{

        &__text{
            width: 425px;
            margin-top: 50px;
        }

        &__pc{
            width: 425px;
        }
    }

    .sec-2{

        &__img{
            margin-top: 50px;
            margin-bottom: 50px;
            width: 425px;
        }

        &__div-1{
            flex-direction: column;
            width: 425px;
            margin-bottom: 100px;
        }

        &_div-div{
            margin-left: 25px;
            margin-right: 0px;
            width: 400px;
        }
    }

    .reversd{
        display: flex;
        flex-direction: column-reverse;
    }

    .sec-3{

        &__div{
            margin-right: 0;
        }
    }

    .sec-4{
        margin-right: 0;
    }

    .sec-5{

        &__1{
            flex-direction: column;
            width: 425px;

            &__div{
                margin-bottom: 50px;
                width: 325px;
                margin-left: 25px;
            }
        }

        &__2{
            flex-direction: column-reverse;
            width: 425px;

            &__div{
                margin-left: 0;
                margin-bottom: 50px;
                width: 325px;
                margin-left: 25px;
            }
        }
    }

    .sec-6{

        &__text{


            &_1{

                width: 425px;
            }
        }
    }

    .sec-7{

        &__img{
            width: 425px;
        }
    }

    .sec-8{

        &__phone{
            width: 425px;
        }
    }

    .sec-9{


        &__gradient{
            width: 425px;
            height: 250px;
        }
        
        &__div{
            margin-top: -260px;
        }
    }

    .sec-10{
        height: 500px;
    }

    .sasaas{
        padding-top: 170px;
        padding-bottom: 50px;
    }
}

@media (max-width: 320px) {
    
    body{
        max-width: 320px;
    }
    
    .Nav{
        width: 320px;
        height: 1000px;
    }

    .menu{
        justify-content: center;
        margin: 0;
        flex-direction: column;

        &__logo{
            width: 212px;
            margin-left: 50px;
        }

        &__nav{
            display: flex;
            flex-direction: column;

            &_text{
                margin-top: 25px;
            }
        }
    }

    .main{
        flex-direction: column;
        margin-top: 50px;

        &__text{
            width: 300px;
            margin-left: 0;
            margin-left: 5px;

            &_H1{
                font-size: 60px;
            }
        }

        &__phone{
            width: 250px;
            margin-top: 25px;

        }
    }

    .sec-1{

        &__text{
            width: 320px;
            margin-top: 50px;
        }

        &__pc{
            width: 320px;
        }
    }

    .sec-2{

        &__img{
            margin-top: 50px;
            margin-bottom: 50px;
            width: 320px;
        }

        &__div-1{
            flex-direction: column;
            width: 320px;
            margin-bottom: 100px;
        }

        &_div-div{
            margin-left: 20px;
            margin-right: 0px;
            width: 300px;
        }
    }

    .reversd{
        display: flex;
        flex-direction: column-reverse;
    }

    .sec-3{

        &__div{
            margin-right: 0;
            width: 320px;

            &_1{
                width: 320px;

                &__H6{
                    width: 320px;
                }
            }
        }
    }

    .sec-4{
        margin-right: 0;
    }

    .sec-5{

        &__1{
            flex-direction: column;
            width: 320px;

            &__div{
                margin-bottom: 50px;
                width: 310px;
                margin-left: 10px;

                &__text3{
                    width: 310px;
                }
            }
        }

        &__2{
            flex-direction: column-reverse;
            width: 320px;

            &__div{
                margin-left: 0;
                margin-bottom: 50px;
                width: 310px;
                margin-left: 10px;

                &__text3{
                    width: 310px;
                }
            }
        }
    }

    .sec-6{

        &__text{


            &_1{
                width: 300px;
            }
        }
    }

    .sec-7{

        &__img{
            width: 320px;
        }
    }

    .sec-8{

        &__phone{
            width: 320px;
        }
    }

    .sec-9{


        &__gradient{
            width: 320px;
            height: 500px;
        }
        
        &__div{
            margin-top: -400px;

            &__div{
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;

                &__button1{
                    margin-bottom: 25px;
                }
            }
        }
    }

    .sec-10{
        height: 500px;
    }

    .sasaas{
        padding-top: 170px;
        padding-bottom: 20px;
    }
}
